@use "layout/button";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$color-primario: #927459;
$color-secundario: #1f1f1f;
$color-terceario: #fff0f0;
$bg-color: #f4f1d6;

@mixin reset($m, $p, $box) {
  margin: $m;
  padding: $p;
  box-sizing: $box;
}

@mixin titulos() {
  color: $color-primario;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
}

@keyframes menu {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes escaladotitulos {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes escalado {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  @include reset(0, 0, border-box);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: $bg-color;
}

.header {
  background-color: $color-secundario;
}

.header_container {
  max-width: 640px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.header_logo {
  margin: auto;

  img {
    width: 100px;
  }
}

.navbar {
  margin: 20px;

  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  li {
    list-style: none;
    margin: 10px 5px;
  }

  a {
    color: $color-terceario;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.4s;

    &:hover {
      background-color: $color-primario;
      border-radius: 20px;
    }
  }
}

.main {
  min-height: 100vh;
}

.main_container {
  --opacidad-negro: 0.5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bg-inicio.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  overflow: hidden;

  h1 {
    font-weight: 600;
    font-size: 30px;
    margin: 10px;
    color: $color-terceario;
    animation-name: escalado;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0.2s;
  }

  span {
    font-size: 35px;
    font-weight: 800;
    color: $color-primario;
    padding-left: 5px;
    animation-name: escalado;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0.2s;
  }

  h2 {
    font-size: 25px;
    font-weight: 400;
    color: $color-primario;
    animation-name: escalado;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0.2s;
  }

  p {
    font-size: 15px;
    margin: 40px;
    color: $color-terceario;
    animation-name: escalado;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0.1s;
  }
}

.title_articles {
  text-align: center;
  padding: 40px 0px;

  h1 {
    @include titulos();
  }
}

.articles_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation-name: escalado;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-delay: 0.2s;

  h3 {
    font-size: 20px;
    margin: 10px;
    text-transform: uppercase;
    color: #927459;
  }

  article {
    width: 280px;
    height: 500px;
    background-color: $color-secundario;
    margin: 0px 20px 50px 0px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.338);
    transition: transform 0.3s ease;
    animation-delay: 0.2s;
    &:hover {
      transform: scale(1.1);
    }

    img {
      width: 100%;
      height: 70%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      object-fit: cover;
    }

    p {
      color: $color-terceario;
      margin: 10px;
    }
  }
}

.sobrenosotros_container {
  max-width: 640px;
  margin: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template:
    "sobrenosotros"
    "localmateros"
    "nuestrahistoria"
    "quenosdiferencia";
  overflow: hidden;

  section {
    margin: 20px 0px;
  }

  h1 {
    padding: 10px 0px;
    @include titulos();
    animation-name: escaladotitulos;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0.2s;
  }

  h2 {
    padding: 10px 0px;
    color: $color-primario;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    animation-name: escaladotitulos;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0.2s;
  }

  h3 {
    padding: 10px 0px;
    color: $color-primario;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 800;
    animation-name: escaladotitulos;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0.2s;
  }

  p {
    font-size: 12px;
    animation-name: escalado;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0.2s;
  }

  .localmateros img {
    display: flex;
    margin: auto;
    width: 300px;
    box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.338);
    border-radius: 5px;
    animation-name: escalado;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0.2s;
  }

  .quenosdiferencia ul li {
    font-size: 12px;
    animation-name: escalado;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0.2s;
  }
}
.sobrenosotros {
  grid-area: sobrenosotros;
  padding: 0px 20px;
}
.nuestrahistoria {
  grid-area: nuestrahistoria;
  padding: 0px 20px;
}
.localmateros {
  grid-area: localmateros;
}
.quenosdiferencia {
  grid-area: quenosdiferencia;
  padding: 0px 40px;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.contact_bg {
  --opacidad-negro: 0.5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bg-contacto.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.contact_container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation-name: escalado;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-delay: 0.2s;

  h1 {
    @include titulos();
    text-align: center;
    padding: 40px 0px;
  }
}

.input_container {
  display: flex;
  flex-direction: column;

  input {
    width: 300px;
    padding: 10px;
    margin-top: 5px;
  }

  label {
    color: $color-terceario;
    margin-top: 10px;
  }

  textarea {
    padding: 10px;
    height: 100px;
  }
}

.btn_formulario {
  margin-top: 20px;
  text-align: center;

  button {
    @extend .btn;
    border: solid $color-terceario;
  }
}

.title_contact {
  padding: 20px;
  font-size: 60px;
  color: $color-primario;
  text-transform: uppercase;
}

.contact_whatsapp {
  padding: 50px 0px;

  a {
    @extend .btn;
    font-weight: 400;
    background-color: rgb(2, 176, 2);
    padding: 10px 30px;
    transition: all 0.3s;
    text-decoration: none;

    &:hover {
      background-color: rgba(2, 192, 2, 0.727);
      color: $color-terceario;
    }
  }

  img {
    width: 50px;
  }
}

.footer {
  background-color: $color-secundario;

  ul {
    list-style: none;
  }

  li {
    margin: 10px;
  }

  p {
    color: $color-terceario;
    padding: 5px 0px;
  }

  a {
    margin: 5px;
    text-decoration: none;
    color: $color-terceario;
    transition: all 0.3s;

    &:hover {
      color: $color-primario;
    }
  }

  h3 {
    margin: 10px;
    color: $color-primario;
  }
}

.footer_container {
  padding: 40px 0px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template:
    "logo"
    "menu"
    "sociales"
    "ubicacion"
    "linea"
    "copy";
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;

  hr {
    width: 100%;
    border-color: $color-primario;
  }
}

.footer_logo {
  grid-area: logo;

  img {
    width: 100px;
  }
}

.footer_menu {
  grid-area: menu;
}

.footer_sociales {
  grid-area: sociales;
}

.footer_ubicacion {
  grid-area: ubicacion;
}
.footer_linea {
  grid-area: linea;
}

.footer_copy {
  grid-area: copy;
  font-size: 12px;
}

@media (min-width: 640px) {
  /*MQ-FOOTER*/
  .footer_container {
    max-width: 640px;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template:
      "logo menu"
      "sociales ubicacion"
      "linea linea"
      "copy copy";
    justify-content: space-evenly;
  }
  .footer_copy {
    font-size: 14px;
  }
  /*MQ-FOOTER*/
}

@media (min-width: 800px) {
  /*HEADER*/
  .header_container {
    max-width: 800px;
  }
  .navbar ul {
    flex-direction: row;
  }
  .navbar ul li a {
    font-size: 14px;
  }
  .header_logo img {
    width: 120px;
  }
  /*HEADER*/

  /*MQ-MAIN-INICIO*/
  .main_container h1 {
    font-size: 50px;
  }
  .main_container h1 span {
    font-size: 55px;
  }
  .main_container h2 {
    font-size: 35px;
  }
  .main_container p {
    font-size: 20px;
  }
  /*MQ-MAIN-INICIO*/

  /*MQ-ARTICULOS*/
  .articles_container {
    max-width: 800px;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /*MQ-ARTICULOS*/

  /*MQ-SOBRENOSOTROS*/
  .sobrenosotros_container {
    max-width: 800px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template:
      "sobrenosotros"
      "localmateros"
      "nuestrahistoria"
      "quenosdiferencia";
  }
  .sobrenosotros_container .localmateros img {
    width: 500px;
  }
  .sobrenosotros_container h1 {
    font-size: 35px;
  }

  .sobrenosotros_container h2 {
    font-size: 25px;
  }

  .sobrenosotros_container h3 {
    font-size: 15px;
  }
  .sobrenosotros_container p {
    font-size: 16px;
  }
  .sobrenosotros_container .quenosdiferencia ul li {
    font-size: 16px;
  }
  /*MQ-SOBRENOSOTROS*/

  /*MQ-CONTACTO*/
  .input_container input {
    width: 500px;
  }
  .input_container textarea {
    height: 300px;
  }
  /*MQ-CONTACTO*/

  /*MQ-FOOTER*/
  .footer_container {
    max-width: 800px;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template:
      "logo menu sociales ubicacion"
      "linea linea linea linea"
      "copy copy copy copy";
  }
  .footer_copy {
    font-size: 16px;
  }
  /*MQ-FOOTER*/
}

@media (min-width: 1000px) {
  /*HEADER*/
  .header_container {
    max-width: 1000px;
  }
  .navbar ul li a {
    font-size: 14px;
  }
  .navbar ul {
    flex-direction: row;
  }
  .header_logo img {
    width: 150px;
  }
  /*HEADER*/

  /*MQ-MAIN-INICIO*/
  .main_container h1 {
    font-size: 60px;
  }
  .main_container h1 span {
    font-size: 65px;
  }
  .main_container h2 {
    font-size: 40px;
  }
  /*MQ-MAIN-INICIO*/

  /*MQ-ARTICULOS*/
  .articles_container {
    max-width: 1000px;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /*MQ-ARTICULOS*/

  /*MQ-SOBRENOSOTROS*/
  .sobrenosotros_container {
    max-width: 1000px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template:
      "sobrenosotros localmateros"
      "nuestrahistoria localmateros"
      "quenosdiferencia localmateros";
  }
  .sobrenosotros_container .localmateros img {
    margin-left: 60px;
    width: 450px;
  }
  .sobrenosotros_container h1 {
    font-size: 40px;
  }

  .sobrenosotros_container h2 {
    font-size: 30px;
  }

  .sobrenosotros_container h3 {
    font-size: 20px;
  }
  .sobrenosotros_container p {
    font-size: 18px;
  }

  .sobrenosotros_container .quenosdiferencia ul li {
    font-size: 18px;
  }
  /*MQ-SOBRENOSOTROS*/

  /*MQ-CONTACTO*/
  .input_container input {
    width: 600px;
  }
  /*MQ-CONTACTO*/

  /*MQ-FOOTER*/
  .footer_container {
    max-width: 1000px;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template:
      "logo menu sociales ubicacion"
      "linea linea linea linea"
      "copy copy copy copy";
  }
  .footer_copy {
    font-size: 18px;
  }
  /*MQ-FOOTER*/
}

@media (min-width: 1200px) {
  /*HEADER*/
  .header_container {
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-between;
  }
  .header_logo {
    margin-left: 0;
  }
  .navbar {
    margin-right: 0;
    animation-name: menu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0.2s;
  }
  /*HEADER*/

  /*MQ-MAIN-INICIO*/
  .main_container h1 {
    font-size: 80px;
  }
  .main_container h1 span {
    font-size: 100px;
  }
  .main_container h2 {
    font-size: 45px;
  }
  /*MQ-MAIN-INICIO*/

  /*MQ-ARTICULOS*/
  .articles_container {
    max-width: 1200px;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /*MQ-ARTICULOS*/

  /*MQ-SOBRENOSOTROS*/
  .header_container {
    max-width: 1200px;
  }
  .sobrenosotros_container {
    max-width: 1400px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template:
      "sobrenosotros localmateros"
      "nuestrahistoria localmateros"
      "quenosdiferencia localmateros";
  }
  .sobrenosotros_container .localmateros img {
    margin-left: 30px;
    width: 600px;
  }
  .sobrenosotros_container h1 {
    font-size: 40px;
  }

  .sobrenosotros_container h2 {
    font-size: 30px;
  }

  .sobrenosotros_container h3 {
    font-size: 20px;
  }

  .sobrenosotros_container p {
    font-size: 20px;
  }
  .sobrenosotros_container .quenosdiferencia ul li {
    font-size: 20px;
  }
  /*MQ-SOBRENOSOTROS*/

  /*MQ-CONTACTO*/
  .input_container input {
    width: 600px;
  }
  /*MQ-CONTACTO*/

  /*MQ-FOOTER*/
  .footer_container {
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template:
      "logo menu sociales ubicacion"
      "linea linea linea linea"
      "copy copy copy copy";
    justify-content: space-between;
  }
  /*MQ-FOOTER*/
}
